@import url(http://fonts.googleapis.com/css?family=Raleway:600,400,300);

html, body{
	height: 100%;
}

body{
	font-family:'Raleway',Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	background-image: url(../img/temp_img.jpg);
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

a{
	color: #ffffff;
	text-decoration: none;
	transition: all 0.5s ease;
}
a:hover{
	color: #ffffff;
	text-decoration: underline;
}

p{
	font-weight:400;
	font-style:normal;
	letter-spacing: 1px;
	line-height: 1.6;
}

#title{
	height: 100%;
	width: 100%;
	background: url(../img/temp_title.svg) center center no-repeat;
}

.no-svg #title{
	background: url(../img/temp_title.png) center center no-repeat;
}

#temp{
	position: absolute;
	bottom: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.mid{
	text-align: center;
}

.right{
	text-align: right;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* media queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

@media only screen and (max-width: 820px) {
	body{
		background-position: top left;
	}

	#title{
		height: 118px;
		width: 100%;
		margin-top: 80px;
		background: url(../img/temp_title2.svg) top center no-repeat;
	}

	.no-svg #intro{
		background: url(../img/temp_title2.png) top center no-repeat;
	}

	#temp{
		position: relative;
		bottom: auto;
		left: auto;
		-webkit-transform: none;
		transform: none;
		margin-top: 40px;
	}

	.alpha,.right{
		text-align: center;
	}
}